
@font-face {
  font-family: "theBoldFont";
  src: url("/fonts/theboldfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("/fonts/Century\ Gothic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CenturyGothic";
  src: url("/fonts/911Fonts.com_CenturyGothicBold__-_911fonts.com_fonts_pMgo.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

.logo {
  width: 80px;
}
.header {
  font-size: 40px;
  vertical-align: auto;
  background-image: url(images/cornhole.JPG);
  background-position: absolute;
  font-family: "theBoldFont";
}
body {

}
.topnav {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  text-decoration: none;
  font-family: "CenturyGothic";
}
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 14px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #f5f5f5;
  opacity: 75%;
  font-weight: bold;
}

.contact {
  width: 50%;
}

table {
  width: 100%;
}

.socials {
  width: 50px;
}
.contact-socials {
  margin: 50px;
}

.index-photo {
    position: sticky;
    width: 100%;
    opacity: 70%;
    overflow: hidden;
}

.container {
    position: relative;
    text-align: center;
}
.overlay-table {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%,-25%);
}
.mySlides {
    height: 200px;
}
.slideButton {
    position: center;
}
.slideshow {
    margin-right: auto;
    margin-left: auto;
}
.sectionHeader {
  color: white;
  margin: auto;
}

.pageLayout {
  height: 100%;
  color: white;
  text-shadow: 3px 3px 4px black;
}

#events {
  background-image: url("images/eventsVPbanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 250px;
}

#marketing {
  background-image: url("images/marketingBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  vertical-align: middle;
  font-size: 300%;
  background-size: cover;
}

#video {
  width: 80%;
margin: auto;
}

h1, h2, h3, h4 {
  font-family: "theBoldFont";
}

p {
  font-family: "CenturyGothic";
  color: white;
  text-shadow: 3px 3px 4px black;
}

button {
  background-color: white;
  opacity: 60%;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 16px;
  font-family: "theBoldFont";
  font-weight: bold;
  color: black;
  font-size: 20px;
  outline: none;
}

#mission {
  background-image: url(image/VPEvents.jpg);
}